{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field, render_field_with_label %}

<!-- href, id, caption -->
{% set navigation_bar = [
    ('problems_no_category', 'problems', 'Problems'),
    ('contests', 'contests', 'Contests'),
    ('index', 'index', 'Ranks'),
    ('index', 'index', 'About')
] -%}

{% set active_page = active_page|default('index') -%}

<!doctype html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% if self.page_name() %} {% block page_name %}{% endblock %} -{% endif %} Online Grader
        {% endblock %}
    </title>

    {% block head_meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block head_css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Custom fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    {% endblock %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_layout.css') }}">
    {% endblock %}

    {% block head_tail %}
    {% endblock %}
</head>

<body>
    {% block noscript_banner %}
    <noscript>
        <div id="noscript">This site requires JavaScript to fully function!</div>
    </noscript>
    {% endblock %}

    {% block page_body %}
    <div class="content">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center blog-header py-3 px-0">
                {% block brand %}
                <a class="navbar-brand d-flex w-50 mr-auto blog-header-logo text-dark" href="{{ url_for('index') }}">
                    <strong>SLS<span style="letter-spacing: 6px; ">S<span class="text-primary">::</span></span>OJ</strong>
                </a>
                {% endblock %}
        
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="navbar-collapse collapse w-100" id="navbar">
                    {% block main_menu %}
                    <ul class="navbar-nav w-100 justify-content-center">
                        {% block main_menu_items %}
                        {% for href, id, caption in navigation_bar %}
                            <li{% if id == active_page %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                                <a class="nav-link text-muted" href="{{ url_for(href|e) }}">{{ caption|e }}</a>
                            </li>
                        {% endfor %}
                        {% endblock %}

                        {% if current_user.is_authenticated and current_user.has_role('superuser') %}
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="/dashboard">Dashboard</a>
                        </li>  
                        {% endif %}
                    </ul>
                    {% endblock %}

                    {% block menu_links %}          
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end align-items-center">
                        <a class="text-muted" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="mx-3">
                                <circle cx="10.5" cy="10.5" r="7.5"></circle>
                                <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                            </svg>
                        </a>

                        {% if not current_user.is_authenticated -%}
                        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('security.login') }}">Sign in</a>
                        {% else -%}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="user_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                {% if current_user.first_name -%}
                                {{ current_user.first_name }} 
                                {% else -%} 
                                {{ current_user.email }} 
                                {%- endif %}<span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="user_dropdown">
                                <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
                                <a class="dropdown-item" href="{{ url_for('security.logout') }}">Log out</a>
                            </div>
                        </li>
                        {%- endif %}
                    </ul>
                    {% endblock %}
                </div>
            </nav>

            <!-- Display flash messages in modal -->
            <div id="layoutModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="layoutModelLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="layoutModelLabel">Model blah blah</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% with messages = get_flashed_messages() %} {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %} {% endwith %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
    
            {% block body_header %}
            {% endblock %}
        </div>

        {% block body_outer %}
        <main role="main" class="container">
            {% block body %}
            {% endblock %}
        </main>
        {% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    <footer>
        <div class="container" id="footer">
            <div class="text-center">
                <ul class="list-inline my-2">
                    <li class="list-inline-item">
                        <a href="about.html">About</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="privacy.html">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="terms.html">Terms</a>
                    </li>
                </ul>
    
                <p class="my-1" id="powered-by">
                    Powered by
                    <a href="http://flask.pocoo.org/">
                        <strong>Flask</strong>
                    </a> and
                    <a href="https://www.python.org/">
                        <strong>Python 3.6</strong>
                    </a>
                </p>
            </div>
        </div>
    
        <p class="text-center text-muted" id="footer-text">
            &copy; 2018
            <a href="https://galacticglum.com/">Shon Verch</a> and
            <a href="#">contributors</a>
        </p>
    </footer>
    {% endblock %}

    {% block tail_js %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" 
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() 
        {
            var messages = "{{ get_flashed_messages() }}";
            if(typeof messages != 'undefined' && messages != '[]') 
            {
                $("#layoutModal").modal();
            }
        });

        function add_url_params(uri, params) {
            for (var key in params) {
                uri = add_url_param(uri, key, params[key]);
            }

            return uri;
        }

        function add_url_param(uri, key, value) {
            var re = new RegExp("([?|&])" + key + "=.*?(&|$)", "i");
            separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }
    </script>
    {% endblock %}

    {% block tail %}
    {% endblock %}
</body>

</html>