<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head> 
<body>
    <h1>Dashboard</h1>
    <h2>Contests</h2>
    <hr />
    <form action="{{ url_for('dashboard_add_contest_page') }}">
        <input type="submit" value="New contest" />
    </form>
    <hr />
    <ul>
        {% for contest in contests %}
        <li> {{contest.id}} - {{contest.name}}</li>
        {% endfor %}
    </ul>
</body>
</html>