{% extends "_layout.html" %}

{% block head %}
    {% if not call_or_get(current_user.is_authenticated) %}
        <link rel="stylesheet" href="/static/css/login.css">
    {% endif %}
{% endblock %}


{% block content %}
    {% if call_or_get(current_user.is_authenticated) %}
        <!-- Display member home page -->
        <h2>Home page</h2>
        <p>This page can be accessed by anyone.</p><br/>
        <p><a href={{ url_for('home_page') }}>Home page</a> (anyone)</p>
        <p><a href={{ url_for('members_page') }}>Members page</a> (login required)</p>
    {% else %}
        <div class="vertical-center">
            <form class="form-signin" action="" method="POST" role="form">
                <h2 class="form-signin-heading">Please sign in</h2>
                <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
                <!-- <label for="inputPassword" class="sr-only">Password</label> -->
                <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
                <label for="{{ form.username.id }}" class="control-label">{{ form.username.label.text }}</label>
                {{ form.username(class_='form-control', tabindex=110) }}
                <label for="{{ form.password.id }}" class="control-label">{{ form.password.label.text }}</label>
                {{ form.password(class_='form-control', tabindex=120) }}
                <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                {{ form.csrf_token }}
            </form>
        </div>
    {% endif %}
{% endblock %}




            