{% extends '_layout.html' %}

{% block page_name %}
Home
{% endblock %}

{% block body %}
<div class="jumbotron sharp-corner">
    <h1 class="display-4">SLSS::OJ</h1>
    <p class="lead">Welcome to the online grader system for the SLSS computer science club. Please familiarize yourself with the
        <a href="{{ url_for('rules') }}#contest">contest rules</a>.
    </p>
    <hr class="my-4">
    {% if not current_user.is_authenticated %}
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('security.login') }}" role="button">Login</a>
        <a class="btn btn-light btn-lg" href="{{ url_for('security.register') }}" role="button">Register</a>
    </p>
    {% else %}
    <p class="lead">
        We have many problems because we are problem makers.
    </p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Go to Problems</a>
    </p>
    {% endif %}
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Stream</h6>
    <div class="text-muted media pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray">Name</strong>
                <span></span>
            </div>
            <span class="d-block">
            </span>
        </div>
    </div>
</div>
{% endblock body %}