{% extends '_layout.html' %}
{% set active_page = "" %}

{% block head %}
{{ super() }}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><style>

.btn-outline-success {
    background-color: transparent;
    color: #5cb85c;
    border-color: #5cb85c;
    transition: all .2s;
}

.btn-outline-success:hover {
    color: #5cb85c;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0.5px 6px 0 rgba(0, 0, 0, 0.19);
}

.btn-sharp {
    border-radius: 0px;
}

.fake-disable {
    pointer-events: none;
}
</style>
{% endblock %}

{% block page_name %}
Settings
{% endblock %}

{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Settings</h2>
        <hr>
        <h4>Google Drive Integration</h4>
        <div class="well">
            <h4><strong>1. Authentication</strong></h4>
            <div class="container">
                <p>Authenticate your Google account in order to create an integration with Google Drive.</p>
                {% if has_authenticated_with_google() %}
                    <a class="btn btn-outline-success btn-sharp"><i class="fas fa-check" style="margin-right: 10px"></i>Authenticated</a>
                    <a class="btn btn-danger btn-sharp" href="{{url_for('revoke_drive_authentication')}}"><i class="fas fa-minus-circle" style="margin-right: 10px"></i>Revoke</a>
                {% else %}
                    <a class="btn btn-success" href="{{ url_for('authenticate_drive') }}">Authenticate</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}