{% extends '_layout.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block page_name %}
Home
{% endblock %}

{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Online Grader</h1>
        <div class="well">
           <p>Welcome to the online grader system for the SLSS computer science club. Please familiarize yourself with 
                the <a href="{{ url_for('rules') }}#contest">contest rules</a> and <a href="{{ url_for('rules') }}#guidelines">platform usage guidelines</a>.
           </p>

           {% if not current_user.is_authenticated %}
            <br>
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
            </p>
            {% else %}
            {% if not contests is defined %}
            <hr style="background-color: #b2b2b2b2; height: 1px; border: 0px">
            <p>There are currently no open contests.</p>
            {% else %} 
            <br>
            <div class="table-responsive">         
                <table class="table">
                    <thead>
                    <tr>
                        <th>Contest</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contest in contests %}
                    <tr>
                        <td>{{ contest.name }}</td>
                        <td>{{ contest.start_time }}</td>
                        <td>{{ contest.end_time }}</td>
                        <td class="text-center"><a class="btn btn-success btn-sm" href="/contest/{{contest.id}}">Enter</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}