{% extends '_layout.html' %}

{% block page_name %}
Home
{% endblock %}

{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Online Grader</h1>
        <div class="well">
           <p>Welcome to the online grader system for the SLSS computer science club. Please familiarize yourself with 
                the <a href="{{ url_for('rules') }}#contest">contest rules</a> and <a href="{{ url_for('rules') }}#guidelines">platform usage guidelines</a>.
           </p>

           <br>

           {% if not current_user.is_authenticated %}
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}