{% extends '_layout.html' %} {% set active_page = "" %} {% block page_name %} Scoreboard {% endblock %} {% block head %}
{{ super() }}
<script src="/static/vendor/FileSaver.js"></script> {% endblock %} {% block body %} {{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Scoreboard: {{contest.name}}</h3>
        <div class="well">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody id="scores">
                        {% for score in scores %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{ score['user'] }}</td>
                            <td>{{ score['total_score'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <h3>Export</h3>
        <div class="container-fluid">
            <div class="row">
                <label for="sel1">Method</label>
                <select class="form-control" id="export-format">
                    <option value="0">CSV Download</option>
                    <option value="1">Save to Google Drive</option>
                </select>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" id="include-usernames" checked>Include usernames</label>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <button class="btn btn-info" id="export-btn">Export</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block tail %} {{ super() }}
<script>
    $('#export-btn').click(function () {
        selected_format = $('#export-format').val();
        if(selected_format == "0")
        {
            $.getJSON("{{ url_for('scoreboard_results', contest_id=contest.id) }}",
                function (data) {
                    var csv_data = "Rank,Name,Score\r\n";
                    for (var i = 0; i < data.scores.length; i++) 
                    {
                        csv_data += i + 1 + ",";
                        if(document.getElementById('include-usernames').checked)
                        {
                            csv_data += data.scores[i].user + ",";
                        }

                        csv_data += data.scores[i].total_score + '\r\n';
                    }

                    var blob = new Blob([csv_data], { type: "text/csv;charset=utf-8" });
                    saveAs(blob, 'contest_{{contest.id}}_results.csv');
                });
        }
        else if(selected_format == "1")
        {
            console.log('export to drive');
        }
    });

    function update_results(timer_interval) {
        $.getJSON("{{ url_for('scoreboard_results', contest_id=contest.id) }}",
            function (data) {
                $("#scores").empty()

                for (var i = 0; i < data.scores.length; i++) {
                    $("#scores").append("<tr><td>" + (i + 1) + "</td><td>" + data.scores[i].user + 
                        "</td><td>" + data.scores[i].total_score + "</td></tr>")
                }

                if (data.closed) {
                    clearInterval(timer_interval);
                }
            });
    }

    interval = setInterval(function () {
        update_results(interval);
    }, 5000);

</script> {% endblock %}