{% extends '_layout.html' %} 
{% set active_page = "" %} 

{% macro get_test_run_status_html(test_run) -%}
    {% if not test_run or test_run.status == 0 %}
        active
    {% elif test_run.status == 1%}
        success
    {% elif test_run.status == -1 or test_run.status == -3 %}
        danger
    {% elif test_run.status == -2%}
        warning
    {% endif %}
{%- endmacro %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/contest.css">
<link rel="stylesheet" href="/static/vendor/highlightjs/default.css">
<script src="/static/vendor/highlightjs/highlight.pack.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>

<style>
tr.spaceUnder>td {
  padding-bottom: 1em;
}
</style>
{% endblock %}

{% block page_name %} 
Submission
{% endblock %}

{% block body %} 
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <hr style="clear: both; visibility: hidden; margin-top: 0px;">
        <a data-target="#submission-info" data-toggle="collapse" class="noselect text-button collapse-toggle">
            <h3 class="collapsible">{{contest.name}}: {{problem.name}}</h3>
        </a>

        <div class="table-responsive collapse in" id="submission-info">
            <table border="0">
                <tbody>
                    <tr>
                        <td scope="col" width="144"><span class="style4"><span class="style5">Submission ID:</span> &nbsp;</span></td>
                        <td>{{submission.id}}</td>
                    </tr>

                    <tr>
                        <td scope="col"><span class="style6">Submission time: &nbsp;</span><br /></td>
                        <td>{{formatted_datetime(submission.time)}}</td>

                    </tr>
                    <tr>
                        <td scope="col"><span class="style6">Contest: &nbsp;</span><br /></td>
                        <td>{{contest.name}}</td>
                    </tr>
                    <tr>
                        <td scope="col"><span class="style6">Problem: &nbsp;</span></td>
                        <td>{{problem.name}}</td>
                    </tr>
                    <tr>
                        <td scope="col"><span class="style6">Language: &nbsp;</span></td>
                        <td>{{submission.get_language_name()}}</td>
                    </tr>
                    <tr>
                        <td scope="col"><span class="style6">Score: &nbsp;</span></td>
                        <td>{{submission.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <a class="btn btn-primary btn-sm" href="{{ url_for('contest', contest_id=contest.id) }}"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        <hr>
        <h3>Grading</h3>
        <div class="table-responsive">         
            <table class="table">
                <tbody>
                    {% for test in tests %}
                        <tr class="{{ get_test_run_status_html(test[1]) }}" id="outer_testrun_{{test[0].id}}">
                            <td><strong>{{test[0].name}}</strong></td>
                            <td id="testrun_{{test[0].id}}">
                                {% if test[1] == None %}
                                    None
                                {% else %}
                                    {{test[1].get_status_name()}}
                                {% endif %}
                            </td>
                        </tr>  
                        {% if submission.compiler_output %}
                        <tr class="active">
                            <td colspan="2">
                                <pre>{{submission.compiler_output}}</pre>                    
                            </td>
                        </tr>
                        {% endif %}
                        <tr {% if test[1].status != -3 %}hidden{% endif %} class="active">
                            <td colspan="2">
                                <pre id="error_output_testrun_{{test[0].id}}">{{test[1].output}}</pre>                    
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>
        <h3>Submitted Source Code</h3>
        <pre style="background-color: #f0f0f0"><code>{{submission.code.strip()}}</code></pre>
    </div>
</div>
{% endblock %}

{% block tail %}
{{ super() }}
<script>
var tries = 0;

$.fn.hasAttr = function(name) {  
   return this.attr(name) !== undefined;
};

function update_results(timer_interval)
{    
    function get_test_run_status_html(status)
    {
        switch(status)
        {
            case 0:
                return "active";
            case 1:
                return "success";
            case -1:
                return "danger";
            case -2:
                return "warning";
            case -3:
                return "danger";
        }
    }

    $.getJSON("{{ url_for('submission_results', submission_id=submission.id) }}",
    function(data)
    {
        var stop = true;
        $.each(data,
        function(i, item)
        {
            stop = item.status != 0;

            $('#testrun_' + item.id).text(item.status_name);
            var outer_testrun_element = $('#outer_testrun_' + item.id);

            outer_testrun_element.removeClass();
            outer_testrun_element.addClass(get_test_run_status_html(item.status));

            var error_output_element = $('#error_output_testrun_' + item.id);
            if(item.status == -3)
            {
                error_output_element.text(item.output);
                if(error_output_element.parent().parent().hasAttr('hidden'))
                {
                    error_output_element.parent().parent().removeAttr('hidden')
                }
            }
            else
            {
                if(!error_output_element.parent().parent().hasAttr('hidden'))
                {
                    error_output_element.parent().parent().attr('hidden', 'hidden');
                }
            }
        });
    });

    if(++tries >= 30 || stop)
    {
        clearInterval(timer_interval);
    }
}

interval = setInterval(function()
{
    update_results(interval);
}, 1000);

</script>
{% endblock %}