body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html body {
  background-color: #fafafa;
}

.content>.container {
  background: #fff;
  border-left: 1px solid #d9dddf;
  border-right: 1px solid #d9dddf;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}