.blog-header-no-line {
    border-bottom: 0px !important;
}

.utility-bar .header-text {
    font-size: .875rem;
    color: #6c757d;
    margin-right: 1rem;
}

.utility-bar a.header-text:hover {
    color: #007bff;
}

.utility-bar .active {
    font-weight: 500;
    color: #343a40;
}

.utility-bar .view-button {
    font-size: 20px;

    background: transparent;
    color: #bad4ff;
}

.utility-bar .view-button:hover {
    cursor: pointer;
}

.utility-bar .view-button .view-btn-active {
    color: #007bff;
}

.smallcaps {
    font-variant: small-caps;
}

.utility-bar .sort-option-button {
    background: transparent;
    font-size: 1rem;
    border-radius: 0px;
}

#sort-menu-dropdown .dropdown-item {
    color: #6C757D;
}

#sort-menu-dropdown .dropdown-item:active {
    color: white;
}

#sort-menu-dropdown .dropdown-item-active {
    color: #007bff;
}

#sort-menu-dropdown .dropdown-item-active:active {
    color: white;
}

#card-view {
    display: none;
}

#table-view {
    display: none;
}

div.blog-post > table.table thead tr th {
    border-top: 0px;
}

div.blog-post > table.table th:first-child, td:first-child {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.blog-post > table.table tbody tr td a {
    text-decoration: none;
}

.desc-preview-btn{
    background-color: #ccccc9;
    transition-duration: 0ms;
}

.desc-preview-btn:hover {
    background-color: #3F729B;
}

.desc-preview-content {
    display: none;
}

.blog-pagination {
    display: none;
}