{% extends 'problems/_problems_base.html' %}
{% set active_sort_option = "Difficulty" %}

{% block sorting_options %}
<a class="btn btn-sm view-button mr-1 py-0 my-0" role="button" data-toggle="tooltip" data-placement="top" title="Sort Easy-Hard" data-delay='{"show":"1500"}'
    href="{{url_for('problems', sort_category='difficulty')}}">

    <i class="fas fa-angle-up {% if sort_direction != 0 %}view-btn-active{% endif %}"></i>
</a>
<a class="btn btn-sm view-button mr-1 py-0 my-0" role="button" data-toggle="tooltip" data-placement="top" title="Sort Hard-Easy" data-delay='{"show":"1500"}'
    href="{{add_url_params(url_for('problems', sort_category='difficulty'), {'sort_direction': 0})}}">

    <i class="fas fa-angle-down {% if sort_direction == 0 %}view-btn-active{% endif %}"></i>
</a>
{% endblock %}